


#content {
    max-width: 1600;
    margin: 0 auto;
    color: black;
}

nav a{
    text-align: center;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box {
    text-align: center;
}
main section {
    
    text-align: center;
}
main section image {
    box-sizing: border-box;
}

#background {
    height: 725px;
}
body {
    background-color: #D8E2DC  ;
    margin: 0;
    padding: 0;
}
header {
    background-color:#FFCAD4;
}
nav a:hover {
    background-color: #FFCAD4;
    color: Gray;
}
.book, .join {
    background-color: #F4ACB7;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #FFCAD4;
    color: Gray;
}
#background {
    background-color: #F4ACB7;
}
.msg {
    background-color: #FFCAD4;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #F4ACB7;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    text-decoration: none;
}
.icon {
    width: 80px;
}
footer a:hover {
    color: Gray;
}
#hero-img {
    width: 100%;
}
a {
    color: black;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
h1,h2,h3,h4,h5,h6 {
    font-family: Garamond;
}
p, a {
    font-family: Tahoma, Helvetica, sans-serif;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
}
.book, .join {
    font-size: 18px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
}
p {
    font-size: 0.8em;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    padding: 35px;
}

   
.icon {
    padding-top: 10px;
}
   
.msg p {
    padding-bottom: 15px;
}
   
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-image {
    border:10px solid black;
}
   