body {
    
}
p {
    font-family: fantasy;
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 100%;    
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width: 300px;
    height: 300px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle {
    display: inline-block;
    border-bottom: 250px solid green;
    border-top: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}
#triangle-text {
    position:relative;
    display: inline;
    top: 50px
}
.rectangle {
    grid-row: 2/3;
    width: 800px;
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}