body {
    background-color: black;
}
.circle {
    width: 120px;
    height: 120px;
    background-color: seagreen;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
.square {
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    border: solid 10px red;
    margin: 50px;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
}